@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'android';
  src: url('../fontes/idroid.otf') format('opentype');
}

html{
  scroll-behavior: smooth;
}

:root {
  --cor0: #3cff9a;
  --cor1: #2bdb81;
  --cor2: #00635cd5;
  --cor3: #6492ff9f;
  --cor4: #01c287;

  --fonte-padrao: arial, verdana, helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'android', cursive;
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor3);
  font-family: var(--fonte-padrao);
}

a.externo::after{
  content: '\00A0\1F517';
}

p {
  margin: 15px 0px;
}

header {
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
  height: 150px;
  padding-top: 40px;
}

header > h1 {
  text-align: center;
  color: whitesmoke;
  font-family: var(--fonte-destaque);
  font-size: 3em;
  font-weight: normal;
  padding-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}

header > p {
  color: whitesmoke;
  font-family: var(--fonte-padrao);
  font-size: 1.3em;
  text-align: center;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.164);
}

nav {
  background-color: var(--cor2);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.239);
}

nav > a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  transition-duration: 0.3s;
}

nav > a:hover {
  background-color: var(--cor1);
  color: var(--cor2);
  border-radius: 3px;
}

main {
  background-color: white;
  min-width: 300px;
  max-width: 817px;
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0px 0px 10px /*de espalhamento*/ rgba(0, 0, 0, 0.376);
}

article > h1 {
  font-family: var(--fonte-android);
  color: var(--cor2);
  padding: 10px 0px;
  font-size: 1.8em;
  font-weight: normal;
}

article > h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: var(--fonte-android);
  color: var(--cor2);
  padding: 2px 0px;
  background-image: linear-gradient(to right, var(--cor0), transparent);
  text-indent: 8px;
}

main > article > p {
  text-align: justify;
  text-indent: 30px; /*insere a margem no inicio dos paragrafos*/
  line-height: 2em; /*dita o espaçamento de altura entre as linhas do p*/
  font-size: 1.01em;
}

main strong {
  color: var(--cor1);
}

main a {
  font-weight: bold;
  color: var(--cor2);
  background-color: var(--cor0);
  padding: 2px 4px;
  transition-duration: 0.3s;
}

main a:hover {
  text-decoration: underline;
  border-radius: 4px;
  padding: 2px 4px;
}

article > picture > img {
  width: 100%;
}

article img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

/*Vídeo responsivo*/
article div.video {
  background-color: var(--cor4);
  margin: 30px 0px;
  padding: 20px;
  padding-bottom: 57.5%;
  position: relative;
}

article div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
/*Vídeo responsivo*/

main > article > aside {
  background-color: var(--cor1);
  color: whitesmoke;
  line-height: 2em;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.294);
}

aside > h3 {
  background-color: var(--cor2);
  color: whitesmoke;
  text-indent: 10px;
  padding: 5px;
  margin: -10px -20px 0px -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

aside p {
  text-indent: 20px;
  text-align: justify;
}

aside > ul {
  list-style-position: inside;
  column-count: 2; /*define a quantidade de colunas na qual será divida a lista*/
}

aside a {
  background-color: var(--cor1);
}

aside strong {
  color: var(--cor2);
}

footer {
  color: whitesmoke;
  background-color: var(--cor2);
  padding: 10px;
  font-family: var(--fonte-padrao);
  font-size: 1.1rem;
}

footer > p {
  text-align: center;
}

footer > p > a {
  transition-duration: 0.2s;
}

footer  > p > a:hover{
  text-decoration: underline;
}

footer > p > a:visited {
  color: whitesmoke;
}
